<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Mall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>
<!-- 首页 begin------------------------------- -->
<div id="page-index" class="page page-current">
    <div class="content native-scroll infinite-scroll infinite-scroll-bottom" id="pageIndexContent" data-distance="100">
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" href="##">
                <span class="icon icon-home"></span>
            </a>
            <h1 class="title">Mall</h1>
        </header>
        <div class="banner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide" style="background-image: url(/slider/001/006.jpg)"></div>
                    <div class="swiper-slide" style="background-image: url(/slider/001/005.jpg)"></div>
                    <div class="swiper-slide" style="background-image: url(/slider/001/004.jpg)"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="nav-container">
            <ul>
                <li class="on">护肤</li>
                <li>面膜</li>
                <li>精华</li>
                <li>补水</li>
            </ul>
            <ul>
                <li>眼唇</li>
                <li>保湿</li>
                <li>T区</li>
                <li>洁面</li>
            </ul>
        </div>
        <div id="dataContent" class="data-content">
            <div class="list-block list-waterfall" id="list">
                <ul class="list-l">
                    <li>
                        <img src="img/test_1.jpg">
                        <div class="title">
                            <span class="txt">高姿晶莹透白护肤品套装 爽肤水乳液三件套 美白补水化妆品</span>
                        </div>
                        <div class="price-att">
                            <span class="price">¥119.00</span>
                            <span class="attention">31</span>
                        </div>
                    </li>
                </ul>
                <ul class="list-r">
                    <li>
                        <img src="img/test_2.jpg">
                        <div class="title">
                            <span class="txt">【买一送六】高姿化妆品套装女 水循环爽肤水乳液套装</span>
                        </div>
                        <div class="price-att">
                            <span class="price">¥89.00</span>
                            <span class="attention">36</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="infinite-scroll-preloader">
                <div class="preloader"></div>
            </div>
        </div>
    </div>
</div>
<!-- 首页 end------------------------------- -->

<script type="text/javascript" src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript" src="js/swiper.min.js"></script>
<script type="text/javascript" src="js/google.fastbutton.js"></script>
<script type="text/javascript" src="js/zepto.js"></script>
<script type="text/javascript" src="js/base.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/home.js"></script>
</body>
</html>