<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>学习 | 生活</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="/public/img/favicon.png">
  <link rel="stylesheet" href="//cdn.amazeui.org/amazeui/2.5.2/css/amazeui.min.css"/>
  <link rel="stylesheet" href="../public/slider/css/slider.css"/>
  <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
  <div class="header-wrap">
    <h1 class="am-topbar-brand">
      <a href="/">LEARNLIVE</a>
    </h1>
    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>
    <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
      <ul class="am-nav am-nav-pills am-topbar-nav">
        <li class="am-active"><a href="javascript:void(0);">学习</a></li>
        <li><a href="javascript:void(0);">生活</a></li>
        <li><a href="/tools.html">工具</a></li>
      </ul>

      <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
        <div class="am-form-group">
          <input type="text" class="am-form-field am-input-sm" placeholder="搜索文章">
        </div>
        <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
      </form>
    </div>
  </div>
</header>
<div class="container">
  <div class="am-g">
    <div class="am-u-md-8 container-left">
      <div class="c-860 c-demoslider">
        <div id="cuteslider_3_wrapper" class="cs-circleslight">
          <div id="cuteslider_3" class="cute-slider" data-width="960" data-height="420" data-overpause="true">
            <ul data-type="slides">
              <li data-delay="5" data-src="5"
                  data-trans3d="tr6,tr17,tr22,tr23,tr29,tr27,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13,tr45"
                  data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41"><img
                      src="../public/slider/001/001.jpg" data-thumb="/public/slider/001/001a.png">
                <a data-type="link" href="javascript:void(0);" target="_blank"></a>
                <ul data-type="captions">
                  <li class="caption_slider2_layer1_sublayer1" data-effect="fade" data-delay="1000">远方</li>
                  <li class="caption_slider2_layer1_sublayer2" data-effect="fade" data-delay="1200">
                    有一个地方
                  </li>
                  <li class="caption_slider2_layer1_sublayer3" data-effect="slide" data-delay="2300">
                    那里种有我们的梦想
                  </li>
                </ul>
              </li>
              <li data-delay="5" data-src="5"
                  data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13"
                  data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41"><img
                      src="../public/slider/bg/blank.png" data-src="/public/slider/001/002.jpg" data-thumb="/public/slider/001/002a.png">
                <a data-type="link" href="javascript:void(0);" target="_blank"></a>
                <ul data-type="captions">
                  <li class="caption_slider2_layer2_sublayer1" data-effect="fade" data-delay="500">
                    爱学习爱生活
                  </li>
                  <li class="caption_slider2_layer2_sublayer2" data-effect="fade" data-delay="1000">
                    这里有最实用的web前端开发经验，
                  </li>
                  <li class="caption_slider2_layer2_sublayer3" data-effect="fade" data-delay="1500">
                    最实用生活基本常识以及最实用的工具收藏！
                  </li>
                </ul>
              </li>
              <li data-delay="5" data-src="5"
                  data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13"
                  data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr41"><img
                      src="../public/slider/bg/blank.png" data-src="/public/slider/001/003.jpg" data-thumb="/public/slider/001/003a.png">
                <a data-type="link" href="javascript:void(0);" target="_blank"></a>
                <div data-type="info" class="info1" data-align="right">
                  <div>
                    <h1 class="title">喜欢学习，记录生活</h1>
                    <p class="text">
                      html5,css3,javascript,jquery,zepto,nodejs,mongodb...
                      <br class="clear">
                    </p>
                  </div>
                </div>
              </li>
              <li data-delay="5" data-src="5"
                  data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13"
                  data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41"><img
                      src="../public/slider/bg/blank.png" data-src="/public/slider/001/004.jpg" data-thumb="/public/slider/001/004a.png">
                <a data-type="link" href="javascript:void(0);" target="_blank"></a>
                <ul data-type="captions">
                  <li class="caption_slider2_layer4_sublayer1" data-effect="fade" data-delay="1000">
                    学习生活
                  </li>
                  <li class="caption_slider2_layer4_sublayer2" data-effect="fade" data-delay="1500">
                    是一个记录web前端开发经验、生活基本常识，以及一些实用工具收藏的站点
                  </li>
                </ul>
              </li>
              <li data-delay="5" data-src="5"
                  data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13"
                  data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41"><img
                      src="../public/slider/bg/blank.png" data-src="/public/slider/001/005.jpg" data-thumb="/public/slider/001/005a.png"><a
                      data-type="video" href="http://demo.cuplayer.com/file/ad6.mp4"></a>
                <ul data-type="captions">
                  <li class="caption_slider2_layer5_sublayer1" data-effect="fade" data-delay="500">
                    本站的主要方向在于记录web前端开发中的一些经验
                  </li>
                  <!--<li class="caption_slider2_layer5_sublayer2" data-effect="fade" data-delay="1500">-->
                    <!--单击播放此视频-->
                  <!--</li>-->
                </ul>
              </li>
              <li data-delay="5" data-src="5"
                  data-trans3d="tr6,tr17,tr22,tr23,tr26,tr27,tr29,tr32,tr34,tr35,tr53,tr54,tr62,tr63,tr4,tr13"
                  data-trans2d="tr3,tr8,tr12,tr19,tr22,tr25,tr27,tr29,tr31,tr34,tr35,tr38,tr39,tr41"><img
                      src="../public/slider/bg/blank.png" data-src="/public/slider/001/006.jpg" data-thumb="/public/slider/001/006a.png">
                <a data-type="link" href="javascript:void(0);" target="_blank"></a>
                <ul data-type="captions">
                  <li class="caption_slider2_layer6_sublayer1" data-effect="fade" data-delay="500">2015</li>
                  <li class="caption_slider2_layer6_sublayer2" data-effect="fade" data-delay="1000">大家</li>
                  <li class="caption_slider2_layer6_sublayer3" data-effect="fade" data-delay="1500">一起努力</li>
                  <li class="caption_slider2_layer6_sublayer4" data-effect="fade" data-delay="2000">共同进步</li>
                </ul>
              </li>
            </ul>
            <ul data-type="controls">
              <li data-type="captions"></li>
              <li data-type="link"></li>
              <li data-type="video"></li>
              <li data-type="slideinfo"></li>
              <li data-type="circletimer"></li>
              <li data-type="previous"></li>
              <li data-type="next"></li>
              <li data-type="bartimer"></li>
              <li data-type="slidecontrol" data-thumb="true" data-thumbalign="up"></li>
            </ul>
          </div>
          <div class="cute-shadow"><img src="../public/slider/bg/shadow.png" alt="shadow"></div>
        </div>
      </div>
      <ul class="am-list article-list">
        <li>
          <a class="am-text-truncate" href="#">
            <span class="article-title">测试测试测试111</span>
            <span class="am-badge am-round" title="发布时间">2015-10-28</span>
            <span class="am-badge am-badge-success" title="浏览量">17</span>
          </a>
        </li>
        <li>
          <a class="am-text-truncate" href="#">
            <span class="article-title">测试测试测试222</span>
            <span class="am-badge am-round" title="发布时间">2015-10-28</span>
            <span class="am-badge am-badge-success" title="浏览量">17</span>
          </a>
        </li>
        <li>
          <a class="am-text-truncate" href="#">
            <span class="article-title">测试测试测试333</span>
            <span class="am-badge am-round" title="发布时间">2015-10-28</span>
            <span class="am-badge am-badge-success" title="浏览量">17</span>
          </a>
        </li>
        <li>
          <a class="am-text-truncate" href="#">
            <span class="article-title">测试测试测试444</span>
            <span class="am-badge am-round" title="发布时间">2015-10-28</span>
            <span class="am-badge am-badge-success" title="浏览量">17</span>
          </a>
        </li>
        <li>
          <a class="am-text-truncate" href="#">
            <span class="article-title">测试测试测试555</span>
            <span class="am-badge am-round" title="发布时间">2015-10-28</span>
            <span class="am-badge am-badge-success" title="浏览量">17</span>
          </a>
        </li>
        <li>
          <a class="am-text-truncate" href="#">
            <span class="article-title">测试测试测试666</span>
            <span class="am-badge am-round" title="发布时间">2015-10-28</span>
            <span class="am-badge am-badge-success" title="浏览量">17</span>
          </a>
        </li>
      </ul>
      <hr class="am-article-divider blog-hr">
      <ul class="am-pagination blog-pagination">
        <li class="am-pagination-prev"><a href="">&laquo; 上一页</a></li>
        <li class="pagination-mag-wrap">
          <span class="pagination-msg">
            <span>共10页</span>
            <span>
              跳转到第&ensp;<input type="tel" data-max-page="10" maxlength="5" class="jump-page">&ensp;页
              <input type="button" value="GO" class="go-page" title="点击跳转" id="btnGoPage">
            </span>
          </span>
        </li>
        <li class="am-pagination-next"><a href="">下一页 &raquo;</a></li>
      </ul>
    </div>

    <div class="am-u-md-4 blog-sidebar container-right">
      <div class="am-panel-group">
        <section class="am-panel am-panel-default">
          <div class="am-panel-hd">个人简介</div>
          <div class="am-panel-bd">
            <p class="me-intro"><img class="wx" src="../public/img/wx.png">Lee，<br>Web前端开发工程师，<br>技术宅，喜欢简单，<br>偶尔会lol，坑下队友！</p>
          </div>
        </section>
        <section class="am-panel am-panel-default">
          <div class="am-panel-hd">热门文章</div>
          <ul class="am-list blog-list">
            <li><a class="am-text-truncate" href="#">测试－－热门文章</a></li>
            <li><a class="am-text-truncate" href="#">测试－－热门文章</a></li>
            <li><a class="am-text-truncate" href="#">测试－－热门文章</a></li>
            <li><a class="am-text-truncate" href="#">测试－－热门文章</a></li>
            <li><a class="am-text-truncate" href="#">测试－－热门文章</a></li>
          </ul>
        </section>
        <section class="am-panel am-panel-default">
          <div class="am-panel-hd">热门标签</div>
          <div class="am-panel-bd">
            <div class="tag-cloud" id="tagCloud"></div>
            <a class="am-btn am-btn-success am-btn-sm" style="display: none;" href="#">查看更多 →</a>
          </div>
        </section>
      </div>
    </div>

  </div>
</div>
<footer class="blog-footer">
    <a href="http://www.miitbeian.gov.cn">粤ICP备15087987号</a>
    <small>&ensp;CopyRight @2015 learnlive.cn, Inc. All Rights Reserved</small>
</footer>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/amazeui/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="/public/amazeui/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="//cdn.amazeui.org/amazeui/2.5.2/js/amazeui.min.js"></script>
<script type="text/javascript" src="/public/libs/modernizr.min.js"></script>
<script type='text/javascript'>
  $.AMUI.progress.start();
  /* <![CDATA[ */
  var CSSettings = {"pluginPath": "/public/slider"};
  /* ]]> */
</script>
<script type='text/javascript' src='/public/slider/js/cute.slider.js'></script>
<script type='text/javascript' src='/public/slider/js/cute.transitions.all.js'></script>
<script type="text/javascript" src="/public/js/common.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
</body>
</html>
