<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>学习 | 生活</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="alternate icon" type="image/png" href="../public/img/favicon.png">
    <link rel="stylesheet" href="http://cdn.amazeui.org/amazeui/2.5.2/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../public/slider/css/slider.css"/>
    <link rel="stylesheet" href="../public/css/index.css">
</head>
<body>
<header class="am-topbar am-topbar-fixed-top">
    <div class="header-wrap">
        <h1 class="am-topbar-brand">
            <a href="/">LEARNLIVE</a>
        </h1>
        <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
                data-am-collapse="{target: '#doc-topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
                class="am-icon-bars"></span></button>
        <div class="am-collapse am-topbar-collapse" id="doc-topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav">
                <li><a href="/">学习</a></li>
                <li><a href="javascript:;">生活</a></li>
                <li class="am-active"><a href="javascript:;">工具</a></li>
            </ul>

            <form class="am-topbar-form am-topbar-left am-form-inline am-topbar-right" role="search">
                <div class="am-form-group">
                    <input type="text" class="am-form-field am-input-sm" placeholder="搜索文章">
                </div>
                <button type="submit" class="am-btn am-btn-default am-btn-sm">搜索</button>
            </form>
        </div>
    </div>
</header>
<div class="container">

</div>
<footer class="blog-footer">
    <a href="http://www.miitbeian.gov.cn">粤ICP备15087987号</a>
    <small>&ensp;CopyRight @2015 learnlive.cn, Inc. All Rights Reserved</small>
</footer>
<!--[if lt IE 9]>
<script type="text/javascript" src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="/public/amazeui/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<script type="text/javascript" src="/public/amazeui/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<script type="text/javascript" src="http://cdn.amazeui.org/amazeui/2.5.2/js/amazeui.min.js"></script>
<script type="text/javascript" src="/public/libs/modernizr.min.js"></script>
<script type='text/javascript'>
    $.AMUI.progress.start();
    window.onload = function(){
        $.AMUI.progress.done();
    }
</script>
</body>
</html>
