.content {
  width: 1000px;
  margin: 0 auto;
}
.content h1 {
  text-align: center;
}
.content ul li:nth-child(2) .w375 {
  width: 375px;
}
.content ul li:nth-child(2) .w375 .box {
  position: relative;
  float: left;
  width: 47%;
  margin-left: 2%;
  margin-bottom: 2%;
  background: #ccc;
}
.content ul li:nth-child(2) .w375 .box:after {
  display: block;
  content: '';
  margin-top: 100%;
}
.content ul li:nth-child(2) .w375:after {
  content: '';
  display: table;
  clear: both;
}
.content ul li:nth-child(3) .w375 {
  width: 375px;
}
.content ul li:nth-child(3) .w375 .box {
  position: relative;
  float: left;
  width: 47%;
  padding-top: 47%;
  margin-left: 2%;
  margin-bottom: 2%;
  background: #ccc;
}
.content ul li:nth-child(3) .w375:after {
  content: '';
  display: table;
  clear: both;
}
.input-wrap {
  position: relative;
  font-size: 14px;
  width: 280px;
  height: 36px;
  border: 1px solid #aaa;
  border-radius: 4px;
  background-color: #fff;
  box-sizing: border-box;
  overflow: hidden;
}
.input-wrap .input-content {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 100%;
  max-width: 100%;
}
.input-wrap input {
  font-size: 14px;
  box-sizing: border-box;
  overflow: visible;
  width: 100%;
  line-height: 24px;
  border: 0;
  background-color: transparent;
  height: 100%;
  padding: 5px 5px 5px 15px;
}
.input-wrap .unit {
  display: none;
  line-height: 34px;
}
.input-wrap:hover {
  border-color: #009DF5;
}
